.page-container {
    margin: 10px;
}
.container-custom-padding {
    padding: 0px !important;
}
.uk-card-body-custom{
    padding: 10px !important;
}
.custom-card-body-padding{
    padding: 10px !important;
}
.custom-card-header-padding{
    padding: 10px !important;
}