/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

nav {
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: flex-start; /* Alinear a la izquierda */
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

main {
    padding: 20px;
}

/* Error Styles */
.error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

/* Required Indicator Styles */
label.required::after {
    content: " *";
    color: red;
}

/* Table Styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: white;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

/* Form Styles */
form {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

form div {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type=text], input[type=number], select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 4px;
}

/* Button Styles */
button {
    background-color: #007BFF; /* Azul claro */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px; /* Añadir un margen derecho */
}

button:hover {
    background-color: #0056b3; /* Azul más oscuro al pasar el ratón */
}

/* Cancel Button Styles */
.cancel-button {
    background-color: #6c757d; /* Gris para el botón cancelar */
}

.cancel-button:hover {
    background-color: #5a6268; /* Gris más oscuro al pasar el ratón */
}

/* Icon Button Styles */
.icon-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    padding: 10px; /* Padding de 10px */
    color: #007BFF; /* Azul claro */
}

/* Context Menu Styles */
.context-menu {
    position: absolute;
    top: 20px;
    right: 0;
    background: white;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: flex;
    flex-direction: column;
}

.context-menu button {
    display: block;
    width: 100%;
    border: none;
    padding: 10px;
    background: none;
    text-align: left;
    color: #007BFF; /* Azul claro */
}

.context-menu button:hover {
    background-color: #f2f2f2;
}

/* Responsive Styles */
@media (max-width: 600px) {
    .icon-button {
        display: block;
    }
}

@media (min-width: 601px) {
    .icon-button {
        display: block;
    }

    .context-menu button {
        display: inline;
    }
}
